body {
  padding-top: 5rem;
}

.box {
  display: inline-block;
  font-family: monospace;
  border: 1px solid gray;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 1.3em;
}

.pointer {
  cursor: default;
}
